<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fzq.com.myqq">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.login.StartUpdateActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:theme="@style/MyThemeFullScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/MyThemeNoTitle"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.login.ForgetPwdActivity"/>
        <activity android:name=".ui.activity.login.NewUserActivity"/>
        <activity android:name=".ui.activity.login.ReadMeActivity"/>
    </application>

</manifest>